@charset "UTF-8";
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/*
*********useage*********
@include POS(475px,75px);
@include css3(transition,all 1s ease);
@include css3(box-shadow,0px 0px 14px #ffffff);
@include css3(border-radius,20px);
border: 2px solid #6d4b00;
left: calc(50% - 82.5px);
@include linear-gradient(#db3542, #bc2741);
@include range-width-in(0,0){}

*********tableuseage*********
.tablestyle{
    table{
        margin: 0 auto;
        border-collapse: separate;
        border-spacing: 2px!important;
        font-size: 16px;
        line-height:1.5;
    }
    table tr td{
        text-align: center;
        padding: 5px;
    }
    table tr:nth-child(odd) {
            background-color: rgba(76, 46, 0, 0.17);
        }
        span{
            @include midtext();
            font-size: 23px;
        }
}
*/
/*
*********animation*********
@include css3(transition,all 1s ease);
@include css3(animation,opacitylight 2s infinite linear);
@include keyframes(opacitylight) {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
*/
/*
@media screen and (min-width: 0px) and (max-width:640px) {}
@media screen and (min-width: 641px) and (max-width:1200px) {}
@media screen and (min-width: 1201px) and (max-width:2000px) {}
*/
/*zindex*/
/*linear-gradient*/
/*specify*/
/*keyframes*/
/*Responsive*/
/*radius*/
/*boxshadow*/
/*POS*/
/*clearfix*/
/*changebg*/
/*gridbox*/
@import url(iconfontstyle.css);
/* line 25, ../sass/screen.scss */
a {
  text-decoration: none;
}

/* line 28, ../sass/screen.scss */
li {
  list-style: none;
}

/* line 31, ../sass/screen.scss */
ul {
  padding: 0;
  margin: 0;
}

/* line 35, ../sass/screen.scss */
input {
  border: 1px solid #bad9f0;
  background: transparent;
  line-height: 28px;
  height: 28px;
  padding: 0 10px;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  width: 145px;
}

/* line 44, ../sass/screen.scss */
.inputout {
  position: relative;
}
/* line 46, ../sass/screen.scss */
.inputout > i {
  position: absolute;
  right: 10px;
  line-height: 30px;
  font-size: 14px;
  cursor: pointer;
  margin-top: 2px;
}

/* line 55, ../sass/screen.scss */
select {
  -webkit-box-shadow: 0px 0px 5px rgba(200, 210, 230, 0.8);
  -moz-box-shadow: 0px 0px 5px rgba(200, 210, 230, 0.8);
  -ms-box-shadow: 0px 0px 5px rgba(200, 210, 230, 0.8);
  -o-box-shadow: 0px 0px 5px rgba(200, 210, 230, 0.8);
  box-shadow: 0px 0px 5px rgba(200, 210, 230, 0.8);
  border: 0px;
  line-height: 30px;
  height: 30px;
  padding: 0 7px;
  /*很关键：将默认的select选择框样式清除*/
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background: #fff url("../images/select_arrow.png") no-repeat scroll right 5px center;
  padding-right: 21px;
  cursor: pointer;
  min-width: 80px;
}

/* line 70, ../sass/screen.scss */
.icon-icon_information {
  width: 23px;
  height: 23px;
  font-size: 23px;
  line-height: 23px;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  border: 1px solid #3e8ef0;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
/* line 82, ../sass/screen.scss */
.icon-icon_information:hover {
  color: #fff;
  background: #3e8ef0;
}

/* line 88, ../sass/screen.scss */
.information_show .information_txt {
  display: inherit !important;
}
/* line 91, ../sass/screen.scss */
.information_show .icon-icon_information {
  color: #fff;
  background: #3e8ef0;
}

/* line 96, ../sass/screen.scss */
.information_out {
  position: relative;
  display: inline;
}
/* line 100, ../sass/screen.scss */
.information_out:hover .information_txt {
  display: inherit;
}
/* line 103, ../sass/screen.scss */
.information_out:hover .icon-icon_information {
  color: #fff;
  background: #3e8ef0;
}
/* line 108, ../sass/screen.scss */
.information_out .information_txt_right {
  right: 0px;
  left: auto !important;
}
/* line 111, ../sass/screen.scss */
.information_out .information_txt_right:before, .information_out .information_txt_right:after {
  left: auto !important;
  right: 0px;
}
/* line 116, ../sass/screen.scss */
.information_out .information_txt {
  -webkit-box-shadow: 0px 0px 5px rgba(200, 210, 230, 0.8);
  -moz-box-shadow: 0px 0px 5px rgba(200, 210, 230, 0.8);
  -ms-box-shadow: 0px 0px 5px rgba(200, 210, 230, 0.8);
  -o-box-shadow: 0px 0px 5px rgba(200, 210, 230, 0.8);
  box-shadow: 0px 0px 5px rgba(200, 210, 230, 0.8);
  border: 1px solid #bad9f0;
  line-height: 20px;
  width: 300px;
  padding: 10px 15px;
  background: #edf4ff;
  color: #3e8ef0;
  position: absolute;
  top: 40px;
  left: 5px;
  z-index: 20;
  text-align: left;
  display: none;
  font-size: 16px;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
/* line 133, ../sass/screen.scss */
.information_out .information_txt:before, .information_out .information_txt:after {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
}
/* line 140, ../sass/screen.scss */
.information_out .information_txt:after {
  top: -8px;
  left: -1px;
  border-width: 0 9px 10px 9px;
  border-color: transparent transparent #edf4ff transparent;
}
/* line 146, ../sass/screen.scss */
.information_out .information_txt:before {
  top: -10px;
  left: -1px;
  border-width: 0 9px 10px 9px;
  border-color: transparent transparent #bad9f0 transparent;
}

/* line 154, ../sass/screen.scss */
.btn {
  background: #3e8ef0;
  color: #fff;
  line-height: 30px;
  padding: 0 10px;
  cursor: pointer;
}

/* line 161, ../sass/screen.scss */
.btnhover {
  position: relative;
}
/* line 163, ../sass/screen.scss */
.btnhover:after {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  content: "";
  background: rgba(255, 255, 255, 0);
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
/* line 175, ../sass/screen.scss */
.btnhover:hover:after {
  background: rgba(255, 255, 255, 0.25);
}

/* line 180, ../sass/screen.scss */
.linebtn {
  color: #3e8ef0;
  border: 1px solid #3e8ef0;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  height: 30px;
  line-height: 30px;
  text-align: center;
  cursor: pointer;
  vertical-align: middle;
  padding: 0 5px;
}
/* line 190, ../sass/screen.scss */
.linebtn:hover {
  background: #3e8ef0;
  color: #fff;
}

/* line 195, ../sass/screen.scss */
.savebtn {
  background: #f09e3e;
  color: #fff;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  height: 30px;
  line-height: 30px;
  text-align: center;
  cursor: pointer;
  vertical-align: middle;
  padding: 0 5px;
  min-width: 90px;
}
/* line 206, ../sass/screen.scss */
.savebtn i {
  color: #fff;
  font-size: 18px;
  vertical-align: -3px;
  margin-right: 5px;
}

/* line 213, ../sass/screen.scss */
.radiostyle {
  display: inline-block;
  border: 1px solid #c2c2c2;
  width: 10px;
  height: 10px;
  margin-right: 7px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

/* line 222, ../sass/screen.scss */
.displaycheck {
  display: none;
}
/* line 225, ../sass/screen.scss */
.displaycheck:checked ~ .radiostyle {
  border: 4px solid #d9e6f0;
  width: 4px;
  height: 4px;
  background: #3e8ef0;
}

/* line 234, ../sass/screen.scss */
select::-ms-expand {
  display: none;
}

/* line 235, ../sass/screen.scss */
[class^="icon-"], [class*=" icon-"] {
  color: #3e8ef0;
}

/* line 238, ../sass/screen.scss */
body {
  background: #f4f9ff;
  color: #4a4a4a;
  font: normal 14px/30px "Microsoft Yahei";
  margin: 0;
}

/* line 245, ../sass/screen.scss */
.wrapper {
  width: 100%;
  height: auto;
  margin: 0 auto;
  overflow: hidden;
}

/* line 252, ../sass/screen.scss */
.wrapper-in {
  padding: 0 12px;
  height: 100%;
  margin: 0 auto;
  position: relative;
}

/* line 261, ../sass/screen.scss */
.searchline {
  margin: 25px auto 5px auto;
  overflow: hidden;
}
/* line 264, ../sass/screen.scss */
.searchline > * {
  float: left;
}
/* line 267, ../sass/screen.scss */
.searchline .searchplane {
  font-size: 16px;
  font-weight: 500;
}
/* line 269, ../sass/screen.scss */
.searchline .searchplane .inputout {
  display: inline;
  position: relative;
}
/* line 272, ../sass/screen.scss */
.searchline .searchplane .inputout input {
  width: 100px;
}
/* line 275, ../sass/screen.scss */
.searchline .searchplane .inputout i {
  position: absolute;
  right: 10px;
  line-height: 30px;
  font-size: 14px;
  cursor: pointer;
  margin-top: 2px;
}
/* line 285, ../sass/screen.scss */
.searchline .searchnone {
  margin-left: 95px;
  color: #666666;
  font-size: 12px;
}

/* line 291, ../sass/screen.scss */
.searchresult {
  margin: 0 5px;
}
/* line 293, ../sass/screen.scss */
.searchresult > * {
  float: left;
}
/* line 296, ../sass/screen.scss */
.searchresult .searchresult_scroll {
  width: 30px;
  height: 30px;
  color: #fff;
  background: #3e8ef0;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  margin: 0 10px;
  margin-top: 2px;
  cursor: pointer;
}
/* line 308, ../sass/screen.scss */
.searchresult .searchresult_textbox {
  overflow: hidden;
  padding: 2px;
  margin: 0;
}
/* line 312, ../sass/screen.scss */
.searchresult .searchresult_textbox li {
  float: left;
  background: #fff;
  -webkit-box-shadow: 0px 0px 5px rgba(200, 210, 230, 0.8);
  -moz-box-shadow: 0px 0px 5px rgba(200, 210, 230, 0.8);
  -ms-box-shadow: 0px 0px 5px rgba(200, 210, 230, 0.8);
  -o-box-shadow: 0px 0px 5px rgba(200, 210, 230, 0.8);
  box-shadow: 0px 0px 5px rgba(200, 210, 230, 0.8);
  cursor: pointer;
  margin: 0 5px;
  padding: 0 10px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
/* line 320, ../sass/screen.scss */
.searchresult .searchresult_textbox li:hover {
  background: #3e8ef0;
  color: #fff;
}
/* line 325, ../sass/screen.scss */
.searchresult .searchresult_textbox .active {
  background: #3e8ef0;
  color: #fff;
}

/* line 331, ../sass/screen.scss */
.searchlistline {
  font-size: 16px;
  margin: 10px 0;
}
/* line 334, ../sass/screen.scss */
.searchlistline > * {
  display: inline-block;
  margin-right: 15px;
}
/* line 338, ../sass/screen.scss */
.searchlistline .gamename, .searchlistline .gamename_type {
  width: 100px;
}
/* line 342, ../sass/screen.scss */
.searchlistline .memberaccount .inputout {
  display: inline;
}
/* line 347, ../sass/screen.scss */
.searchlistline .lotterynumber_search > * {
  display: inline-block;
  margin-right: 15px;
  vertical-align: middle;
}
/* line 354, ../sass/screen.scss */
.searchlistline .exportout {
  float: right;
}
/* line 356, ../sass/screen.scss */
.searchlistline .exportout > * {
  float: left;
}
/* line 359, ../sass/screen.scss */
.searchlistline .exportout i {
  margin-top: 1px;
}
/* line 363, ../sass/screen.scss */
.searchlistline .prepageout {
  float: right;
}
/* line 365, ../sass/screen.scss */
.searchlistline .prepageout > * {
  float: left;
}
/* line 368, ../sass/screen.scss */
.searchlistline .prepageout i {
  margin-top: 1px;
}

/* line 373, ../sass/screen.scss */
.searchbtn {
  width: 65px;
  height: 30px;
  color: #fff;
  background: #3e8ef0;
  line-height: 30px;
  text-align: center;
  cursor: pointer;
  vertical-align: middle;
  padding: 0 5px;
  font-size: 14px;
}
/* line 384, ../sass/screen.scss */
.searchbtn i {
  color: #fff;
  margin-right: 10px;
  position: relative;
  top: 1px;
}

/* line 391, ../sass/screen.scss */
.export {
  width: 105px;
  height: 30px;
  color: #fff;
  background: #26bd7b;
  line-height: 30px;
  text-align: center;
  cursor: pointer;
  vertical-align: middle;
  padding: 0 5px;
  font-size: 14px;
}
/* line 402, ../sass/screen.scss */
.export i {
  color: #fff;
  margin-right: 10px;
  position: relative;
  top: 1px;
}

/* line 409, ../sass/screen.scss */
.prepage {
  width: 105px;
  height: 30px;
  color: #fff;
  background: #3e8ef0;
  line-height: 30px;
  text-align: center;
  cursor: pointer;
  vertical-align: middle;
  padding: 0 5px;
  font-size: 14px;
}
/* line 420, ../sass/screen.scss */
.prepage i {
  color: #fff;
  margin-right: 10px;
  position: relative;
  top: 1px;
}

/* line 427, ../sass/screen.scss */
.realtimepage_table {
  margin: 10px 0;
  background: #fff;
  overflow: hidden;
  clear: both;
}
/* line 432, ../sass/screen.scss */
.realtimepage_table .searchpagebar {
  overflow: hidden;
  float: right;
  line-height: 45px;
  padding-right: 45px;
}
/* line 437, ../sass/screen.scss */
.realtimepage_table .searchpagebar > * {
  float: left;
}
/* line 440, ../sass/screen.scss */
.realtimepage_table .searchpagebar .turnpage {
  overflow: hidden;
}
/* line 442, ../sass/screen.scss */
.realtimepage_table .searchpagebar .turnpage > * {
  float: left;
  margin: 0 5px;
}
/* line 446, ../sass/screen.scss */
.realtimepage_table .searchpagebar .turnpage input {
  text-align: center;
  width: 35px;
  height: 20px;
}
/* line 451, ../sass/screen.scss */
.realtimepage_table .searchpagebar .turnpage .turnpagebtn {
  width: 25px;
  height: 20px;
  border: 1px solid #3e8ef0;
  line-height: 20px;
  margin-top: 13px;
  text-align: center;
  cursor: pointer;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
/* line 460, ../sass/screen.scss */
.realtimepage_table .searchpagebar .turnpage .turnpagebtn:hover {
  background: #3e8ef0;
}
/* line 462, ../sass/screen.scss */
.realtimepage_table .searchpagebar .turnpage .turnpagebtn:hover i {
  color: #fff;
}
/* line 467, ../sass/screen.scss */
.realtimepage_table .searchpagebar .turnpage .turnpageleft {
  margin-right: 30px;
}
/* line 470, ../sass/screen.scss */
.realtimepage_table .searchpagebar .turnpage .turnpageright {
  margin-left: 30px;
}
/* line 473, ../sass/screen.scss */
.realtimepage_table .searchpagebar .turnpage .turnpagetxt {
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  cursor: pointer;
}
/* line 476, ../sass/screen.scss */
.realtimepage_table .searchpagebar .turnpage .turnpagetxt:hover {
  color: #3e8ef0;
}
/* line 481, ../sass/screen.scss */
.realtimepage_table .searchpagebar .allpage {
  margin-right: 20px;
}
/* line 485, ../sass/screen.scss */
.realtimepage_table .searchpagebar .mouchline select {
  margin-left: 10px;
  padding-left: 10px;
  min-width: 55px;
  height: 22px;
  line-height: 20px;
  width: 50px;
  text-align: center;
  border: 1px solid #3c8ff3;
}

/* line 499, ../sass/screen.scss */
.tablestyle table {
  margin: 0 auto;
  border-collapse: separate;
  border-spacing: 0px !important;
  width: 100%;
}
/* line 504, ../sass/screen.scss */
.tablestyle table tr {
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
/* line 507, ../sass/screen.scss */
.tablestyle table tr:not(:first-child):hover {
  background: #efefef !important;
}
/* line 511, ../sass/screen.scss */
.tablestyle table tr:nth-child(odd) {
  background-color: #f7f7f7;
}
/* line 515, ../sass/screen.scss */
.tablestyle table tr:first-child td {
  color: #12396b;
  font-size: 16px;
  font-weight: 500;
}
/* line 520, ../sass/screen.scss */
.tablestyle table tr td {
  text-align: center;
  padding: 0 5px;
  vertical-align: middle;
  color: #666666;
  line-height: 44px;
}
/* line 526, ../sass/screen.scss */
.tablestyle table tr td .displaycheck_out {
  padding: 0 50px;
}
/* line 529, ../sass/screen.scss */
.tablestyle table tr td label {
  cursor: pointer;
}
/* line 532, ../sass/screen.scss */
.tablestyle table tr td input {
  text-align: center;
}
/* line 535, ../sass/screen.scss */
.tablestyle table tr td .inputs {
  margin-left: 5px;
  margin-right: 25px;
  width: 40px;
}
/* line 541, ../sass/screen.scss */
.tablestyle table tr .red {
  color: #f68622;
}
/* line 544, ../sass/screen.scss */
.tablestyle table tr .green {
  color: #26bd7b;
}
/* line 547, ../sass/screen.scss */
.tablestyle table tr .bule {
  color: #3e8ef0;
}
/* line 550, ../sass/screen.scss */
.tablestyle table tr .tablelink {
  color: #3e8ef0;
  cursor: pointer;
}
/* line 553, ../sass/screen.scss */
.tablestyle table tr .tablelink:hover {
  color: #3576c5;
}
/* line 557, ../sass/screen.scss */
.tablestyle table tr a {
  color: #3e8ef0;
}
/* line 559, ../sass/screen.scss */
.tablestyle table tr a:hover {
  color: #3576c5;
}

/* line 566, ../sass/screen.scss */
.bottomnote {
  font-size: 16px;
  font-weight: 500;
  margin-top: 30px;
}

/*datepicker*/
/* line 573, ../sass/screen.scss */
.datepickerout .datepicker {
  width: 280px;
}
/* line 575, ../sass/screen.scss */
.datepickerout .datepicker:focus {
  outline-offset: 0px;
  outline: none;
}
/* line 579, ../sass/screen.scss */
.datepickerout .datepicker i {
  font-size: 18px;
}
/* line 583, ../sass/screen.scss */
.datepickerout > i {
  font-size: 20px;
  right: 5px;
  top: 0;
}

/* line 590, ../sass/screen.scss */
.datepickerout_active input {
  background: #d2e9fb;
  border: 1px solid #d2e9fb;
}
/* line 594, ../sass/screen.scss */
.datepickerout_active .datebox {
  opacity: 1;
  height: 300px;
  visibility: visible;
}

/* line 600, ../sass/screen.scss */
.datebox {
  position: absolute;
  -webkit-box-shadow: 0px 0px 5px rgba(200, 210, 230, 0.8);
  -moz-box-shadow: 0px 0px 5px rgba(200, 210, 230, 0.8);
  -ms-box-shadow: 0px 0px 5px rgba(200, 210, 230, 0.8);
  -o-box-shadow: 0px 0px 5px rgba(200, 210, 230, 0.8);
  box-shadow: 0px 0px 5px rgba(200, 210, 230, 0.8);
  background: #fff;
  right: 0;
  width: 480px;
  height: 300px;
  z-index: 11;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  opacity: 0;
  height: 0;
  visibility: hidden;
}
/* line 612, ../sass/screen.scss */
.datebox .month_one {
  padding-right: 14px;
}
/* line 615, ../sass/screen.scss */
.datebox .month {
  width: calc(50% - 7px);
  float: left;
  position: relative;
  height: 100%;
}
/* line 620, ../sass/screen.scss */
.datebox .month > .month_year, .datebox .month .daybox {
  padding: 0 5px;
}
/* line 623, ../sass/screen.scss */
.datebox .month .month_year {
  text-align: center;
  height: 30px;
  margin-top: 5px;
}
/* line 627, ../sass/screen.scss */
.datebox .month .month_year i {
  font-size: 30px;
  cursor: pointer;
}
/* line 631, ../sass/screen.scss */
.datebox .month .month_year i.icon-chevron-left {
  float: left;
}
/* line 634, ../sass/screen.scss */
.datebox .month .month_year i.icon-chevron-right {
  float: right;
}
/* line 639, ../sass/screen.scss */
.datebox .month .daybox .week {
  color: #999999;
}
/* line 644, ../sass/screen.scss */
.datebox .month .daybox .day li:not(.block) {
  cursor: pointer;
}
/* line 646, ../sass/screen.scss */
.datebox .month .daybox .day li:not(.block):hover {
  background: #3e8ef0;
  color: #fff;
}
/* line 652, ../sass/screen.scss */
.datebox .month .daybox .day .active {
  background: #3e8ef0;
  color: #fff;
}
/* line 657, ../sass/screen.scss */
.datebox .month .daybox ul {
  overflow: hidden;
  color: #262626;
}
/* line 660, ../sass/screen.scss */
.datebox .month .daybox ul li {
  float: left;
  width: calc(100% / 7);
  height: 30px;
  text-align: center;
  font-size: 12px;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
/* line 670, ../sass/screen.scss */
.datebox .month .time {
  background: #f7f7f7;
  position: absolute;
  bottom: 10px;
  width: calc(100% - 15px);
  line-height: 30px;
  vertical-align: middle;
  padding-left: 15px;
}
/* line 678, ../sass/screen.scss */
.datebox .month .time .timepickinput {
  display: inline;
}
/* line 681, ../sass/screen.scss */
.datebox .month .time input {
  width: 20px;
  height: 20px;
  padding: 0 5px;
  margin-left: 5px;
  background: #fff;
  text-align: center;
  vertical-align: 2px;
}
/* line 690, ../sass/screen.scss */
.datebox .month .time input:focus ~ .timepickbox {
  opacity: 1;
  visibility: visible;
}
/* line 696, ../sass/screen.scss */
.datebox .month .time .button {
  width: 15px;
  height: 22px;
  position: absolute;
  top: 4px;
  left: 190px;
}
/* line 702, ../sass/screen.scss */
.datebox .month .time .button > div {
  width: 15px;
  height: 9px;
  background: #d2e9fb;
  cursor: pointer;
  position: absolute;
  overflow: hidden;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
/* line 710, ../sass/screen.scss */
.datebox .month .time .button > div:active {
  background: #3e8ef0;
}
/* line 712, ../sass/screen.scss */
.datebox .month .time .button > div:active i {
  color: #fff;
}
/* line 716, ../sass/screen.scss */
.datebox .month .time .button > div i {
  top: -3px;
  position: absolute;
  font-size: 15px;
}
/* line 722, ../sass/screen.scss */
.datebox .month .time .button .up {
  top: 0;
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
  transform: rotate(-180deg);
}
/* line 726, ../sass/screen.scss */
.datebox .month .time .button .down {
  bottom: 0;
}
/* line 730, ../sass/screen.scss */
.datebox .month .time .timepickbox {
  position: absolute;
  overflow: hidden;
  width: 200px;
  -webkit-box-shadow: 0px 0px 5px rgba(200, 210, 230, 0.8);
  -moz-box-shadow: 0px 0px 5px rgba(200, 210, 230, 0.8);
  -ms-box-shadow: 0px 0px 5px rgba(200, 210, 230, 0.8);
  -o-box-shadow: 0px 0px 5px rgba(200, 210, 230, 0.8);
  box-shadow: 0px 0px 5px rgba(200, 210, 230, 0.8);
  background: #fff;
  padding: 7px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
/* line 740, ../sass/screen.scss */
.datebox .month .time .timepickbox li {
  float: left;
  cursor: pointer;
  width: calc(100% / 6);
  text-align: center;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
/* line 746, ../sass/screen.scss */
.datebox .month .time .timepickbox li:hover {
  background: #3e8ef0;
  color: #fff;
}
/* line 751, ../sass/screen.scss */
.datebox .month .time .timepickbox .active {
  background: #3e8ef0;
  color: #fff;
}

/* line 759, ../sass/screen.scss */
.contentboxout {
  background: #fff;
  position: relative;
  top: 10px;
}

/*alertbox*/
/* line 765, ../sass/screen.scss */
.alertboxout {
  min-height: 530px;
}
/* line 767, ../sass/screen.scss */
.alertboxout .alertbox {
  width: 650px;
  height: 260px;
  margin: 0 auto;
  overflow: hidden;
  padding-top: 110px;
}
/* line 773, ../sass/screen.scss */
.alertboxout .alertbox > div {
  float: left;
}
/* line 776, ../sass/screen.scss */
.alertboxout .alertbox .alertimg {
  width: 235px;
}
/* line 778, ../sass/screen.scss */
.alertboxout .alertbox .alertimg img {
  width: 100%;
  vertical-align: middle;
}
/* line 783, ../sass/screen.scss */
.alertboxout .alertbox .alerttxt {
  margin-top: 130px;
  font-size: 18px;
  color: #9b9a9a;
}
/* line 789, ../sass/screen.scss */
.alertboxout .alertbox .alertonlytxt {
  width: 100%;
  text-align: center;
}
/* line 794, ../sass/screen.scss */
.alertboxout .alertboxbtn {
  width: 215px;
  height: 50px;
  color: #fff;
  text-align: center;
  margin: 0 auto;
  background: #3e8ef0;
  font-size: 18px;
  line-height: 50px;
  cursor: pointer;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
/* line 805, ../sass/screen.scss */
.alertboxout .alertboxbtn:hover {
  background: #59a4ff;
}

/* line 812, ../sass/screen.scss */
.alert_loading .alertbox > div {
  float: none;
}
/* line 815, ../sass/screen.scss */
.alert_loading .alertbox .alertimg {
  width: 80px;
  margin: 0 auto;
  margin-top: 100px;
}
/* line 820, ../sass/screen.scss */
.alert_loading .alertbox .alerttxt {
  margin-top: 0px;
  text-align: center;
}

/*reportpage*/
/* line 831, ../sass/screen.scss */
#reportpage .searchline {
  overflow: initial;
  height: 30px;
}

/*moreplantbtn*/
/* line 840, ../sass/screen.scss */
.moreplantbtn_out {
  position: relative;
}
/* line 842, ../sass/screen.scss */
.moreplantbtn_out .moreplantbtn {
  background: #3e8ef0;
  color: #fff;
  line-height: 30px;
  padding: 0 10px;
  cursor: pointer;
}
/* line 849, ../sass/screen.scss */
.moreplantbtn_out .plantbox_active {
  opacity: 1 !important;
  visibility: visible !important;
}
/* line 853, ../sass/screen.scss */
.moreplantbtn_out .plantbox {
  position: absolute;
  top: 40px;
  overflow: hidden;
  width: 560px;
  -webkit-box-shadow: 0px 0px 5px rgba(200, 210, 230, 0.8);
  -moz-box-shadow: 0px 0px 5px rgba(200, 210, 230, 0.8);
  -ms-box-shadow: 0px 0px 5px rgba(200, 210, 230, 0.8);
  -o-box-shadow: 0px 0px 5px rgba(200, 210, 230, 0.8);
  box-shadow: 0px 0px 5px rgba(200, 210, 230, 0.8);
  z-index: 10;
  background: #fff;
  padding: 20px;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  opacity: 0;
  visibility: hidden;
}
/* line 865, ../sass/screen.scss */
.moreplantbtn_out .plantbox .plantctrl {
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
  font-size: 12px;
  margin: 0 -5px 12px -5px;
}
/* line 870, ../sass/screen.scss */
.moreplantbtn_out .plantbox .plantctrl li {
  text-align: center;
  cursor: pointer;
  margin: 0 5px 5px 5px;
  padding: 0 5px;
  -webkit-flex-shrink: 1;
  -moz-flex-shrink: 1;
  -ms-flex-shrink: 1;
  -o-flex-shrink: 1;
  flex-shrink: 1;
  -webkit-flex-grow: 1;
  -moz-flex-grow: 1;
  -ms-flex-grow: 1;
  -o-flex-grow: 1;
  flex-grow: 1;
  flex-grow: 1;
  -webkit-flex-grow: 1;
  max-width: 100px;
}
/* line 881, ../sass/screen.scss */
.moreplantbtn_out .plantbox .plantctrl .lottery_class {
  color: #3e8ef0;
  border: 1px solid #3e8ef0;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
/* line 885, ../sass/screen.scss */
.moreplantbtn_out .plantbox .plantctrl .lottery_class:hover {
  background: #3e8ef0;
  color: #fff;
}
/* line 890, ../sass/screen.scss */
.moreplantbtn_out .plantbox .plantctrl .active {
  background: #3e8ef0;
  color: #fff;
}
/* line 894, ../sass/screen.scss */
.moreplantbtn_out .plantbox .plantctrl .ctrlbtn {
  -webkit-flex-grow: 1;
  -moz-flex-grow: 1;
  -ms-flex-grow: 1;
  -o-flex-grow: 1;
  flex-grow: 1;
  max-width: 100px;
}
/* line 897, ../sass/screen.scss */
.moreplantbtn_out .plantbox .plantctrl .ctrlbtn i {
  color: #fff;
  font-size: 18px;
  vertical-align: -3px;
  margin-right: 5px;
}
/* line 904, ../sass/screen.scss */
.moreplantbtn_out .plantbox .plantctrl .lottery_delete {
  background: #26bd7b;
  color: #fff;
}
/* line 908, ../sass/screen.scss */
.moreplantbtn_out .plantbox .plantctrl .lottery_chose {
  background: #f09e3e;
  color: #fff;
}
/* line 911, ../sass/screen.scss */
.moreplantbtn_out .plantbox .plantctrl .lottery_chose i {
  font-size: 22px;
  vertical-align: -5px;
}
/* line 917, ../sass/screen.scss */
.moreplantbtn_out .plantbox .table_plant {
  border: 1px solid #d2d2d2;
}
/* line 920, ../sass/screen.scss */
.moreplantbtn_out .plantbox .table_plant tr td {
  line-height: 30px;
  font-size: 15px;
  border-left: 1px solid #d2d2d2;
  color: #323232;
}
/* line 925, ../sass/screen.scss */
.moreplantbtn_out .plantbox .table_plant tr td:first-child {
  border-left: 0px solid #d2d2d2;
  text-align: left;
  padding-left: 10px;
  cursor: pointer;
}
/* line 930, ../sass/screen.scss */
.moreplantbtn_out .plantbox .table_plant tr td:first-child i {
  margin-right: 5px;
}
/* line 934, ../sass/screen.scss */
.moreplantbtn_out .plantbox .table_plant tr td i {
  font-size: 20px;
  color: #afafaf;
  vertical-align: middle;
  vertical-align: -3px;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
/* line 941, ../sass/screen.scss */
.moreplantbtn_out .plantbox .table_plant tr td .active {
  color: #3e8ef0;
}
/* line 944, ../sass/screen.scss */
.moreplantbtn_out .plantbox .table_plant tr td .icon-check_circle {
  cursor: pointer;
}

/*newseditpage*/
/* line 955, ../sass/screen.scss */
#newseditpage .searchlistline {
  margin: 27px 0 17px 0;
}
