@charset "UTF-8";
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/*
*********useage*********
@include POS(475px,75px);
@include css3(transition,all 1s ease);
@include css3(box-shadow,0px 0px 14px #ffffff);
@include css3(border-radius,20px);
border: 2px solid #6d4b00;
left: calc(50% - 82.5px);
@include linear-gradient(#db3542, #bc2741);
@include range-width-in(0,0){}

*********tableuseage*********
.tablestyle{
    table{
        margin: 0 auto;
        border-collapse: separate;
        border-spacing: 2px!important;
        font-size: 16px;
        line-height:1.5;
    }
    table tr td{
        text-align: center;
        padding: 5px;
    }
    table tr:nth-child(odd) {
            background-color: rgba(76, 46, 0, 0.17);
        }
        span{
            @include midtext();
            font-size: 23px;
        }
}
*/
/*
*********animation*********
@include css3(transition,all 1s ease);
@include css3(animation,opacitylight 2s infinite linear);
@include keyframes(opacitylight) {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
*/
/*
@media screen and (min-width: 0px) and (max-width:640px) {}
@media screen and (min-width: 641px) and (max-width:1200px) {}
@media screen and (min-width: 1201px) and (max-width:2000px) {}
*/
/*zindex*/
/*linear-gradient*/
/*specify*/
/*keyframes*/
/*Responsive*/
/*radius*/
/*boxshadow*/
/*POS*/
/*clearfix*/
/*changebg*/
/*gridbox*/
@import url(iconfontstyle.css);
/* line 25, ../sass/screen.scss */
a {
  text-decoration: none;
}

/* line 28, ../sass/screen.scss */
li {
  list-style: none;
}

/* line 31, ../sass/screen.scss */
ul {
  padding: 0;
  margin: 0;
}

/* line 35, ../sass/screen.scss */
input {
  border: 1px solid #bad9f0;
  background: transparent;
  line-height: 28px;
  height: 28px;
  padding: 0 10px;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  width: 145px;
}

/* line 44, ../sass/screen.scss */
.inputout {
  position: relative;
}
/* line 46, ../sass/screen.scss */
.inputout > i {
  position: absolute;
  right: 10px;
  line-height: 30px;
  font-size: 14px;
  cursor: pointer;
  margin-top: 2px;
}

/* line 55, ../sass/screen.scss */
select {
  -webkit-box-shadow: 0px 0px 5px rgba(200, 210, 230, 0.8);
  -moz-box-shadow: 0px 0px 5px rgba(200, 210, 230, 0.8);
  -ms-box-shadow: 0px 0px 5px rgba(200, 210, 230, 0.8);
  -o-box-shadow: 0px 0px 5px rgba(200, 210, 230, 0.8);
  box-shadow: 0px 0px 5px rgba(200, 210, 230, 0.8);
  border: 0px;
  line-height: 30px;
  height: 30px;
  padding: 0 7px;
  /*很关键：将默认的select选择框样式清除*/
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background: #fff url("../images/select_arrow.png") no-repeat scroll right 5px center;
  padding-right: 21px;
  cursor: pointer;
  min-width: 80px;
}

/* line 70, ../sass/screen.scss */
.icon-icon_information {
  width: 23px;
  height: 23px;
  font-size: 23px;
  line-height: 23px;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  border: 1px solid #3e8ef0;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
/* line 82, ../sass/screen.scss */
.icon-icon_information:hover {
  color: #fff;
  background: #3e8ef0;
}

/* line 88, ../sass/screen.scss */
.information_show .information_txt {
  display: inherit !important;
}
/* line 91, ../sass/screen.scss */
.information_show .icon-icon_information {
  color: #fff;
  background: #3e8ef0;
}

/* line 96, ../sass/screen.scss */
.information_out {
  position: relative;
  display: inline;
}
/* line 100, ../sass/screen.scss */
.information_out:hover .information_txt {
  display: inherit;
}
/* line 103, ../sass/screen.scss */
.information_out:hover .icon-icon_information {
  color: #fff;
  background: #3e8ef0;
}
/* line 108, ../sass/screen.scss */
.information_out .information_txt_right {
  right: 0px;
  left: auto !important;
}
/* line 111, ../sass/screen.scss */
.information_out .information_txt_right:before, .information_out .information_txt_right:after {
  left: auto !important;
  right: 0px;
}
/* line 116, ../sass/screen.scss */
.information_out .information_txt {
  -webkit-box-shadow: 0px 0px 5px rgba(200, 210, 230, 0.8);
  -moz-box-shadow: 0px 0px 5px rgba(200, 210, 230, 0.8);
  -ms-box-shadow: 0px 0px 5px rgba(200, 210, 230, 0.8);
  -o-box-shadow: 0px 0px 5px rgba(200, 210, 230, 0.8);
  box-shadow: 0px 0px 5px rgba(200, 210, 230, 0.8);
  border: 1px solid #bad9f0;
  line-height: 20px;
  width: 300px;
  padding: 10px 15px;
  background: #edf4ff;
  color: #3e8ef0;
  position: absolute;
  top: 40px;
  left: 5px;
  z-index: 20;
  text-align: left;
  display: none;
  font-size: 16px;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
/* line 133, ../sass/screen.scss */
.information_out .information_txt:before, .information_out .information_txt:after {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
}
/* line 140, ../sass/screen.scss */
.information_out .information_txt:after {
  top: -8px;
  left: -1px;
  border-width: 0 9px 10px 9px;
  border-color: transparent transparent #edf4ff transparent;
}
/* line 146, ../sass/screen.scss */
.information_out .information_txt:before {
  top: -10px;
  left: -1px;
  border-width: 0 9px 10px 9px;
  border-color: transparent transparent #bad9f0 transparent;
}

/* line 154, ../sass/screen.scss */
.btn {
  background: #3e8ef0;
  color: #fff;
  line-height: 30px;
  padding: 0 10px;
  cursor: pointer;
}

/* line 161, ../sass/screen.scss */
.btnhover {
  position: relative;
}
/* line 163, ../sass/screen.scss */
.btnhover:after {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  content: "";
  background: rgba(255, 255, 255, 0);
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
/* line 175, ../sass/screen.scss */
.btnhover:hover:after {
  background: rgba(255, 255, 255, 0.25);
}

/* line 180, ../sass/screen.scss */
.linebtn {
  color: #3e8ef0;
  border: 1px solid #3e8ef0;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  height: 28px;
  line-height: 28px;
  text-align: center;
  cursor: pointer;
  vertical-align: middle;
  padding: 0 5px;
}
/* line 190, ../sass/screen.scss */
.linebtn:hover {
  background: #3e8ef0;
  color: #fff;
}

/* line 195, ../sass/screen.scss */
.linebtn.active {
  background: #3e8ef0;
  color: #fff;
}

/* line 199, ../sass/screen.scss */
.savebtn {
  background: #f09e3e;
  color: #fff;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  height: 30px;
  line-height: 30px;
  text-align: center;
  cursor: pointer;
  vertical-align: middle;
  padding: 0 5px;
  min-width: 90px;
}
/* line 210, ../sass/screen.scss */
.savebtn i {
  color: #fff;
  font-size: 18px;
  vertical-align: -3px;
  margin-right: 5px;
}

/* line 217, ../sass/screen.scss */
.radiostyle {
  display: inline-block;
  border: 1px solid #c2c2c2;
  width: 10px;
  height: 10px;
  margin-right: 7px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

/* line 226, ../sass/screen.scss */
.displaycheck {
  display: none;
}
/* line 229, ../sass/screen.scss */
.displaycheck:checked ~ .radiostyle {
  border: 4px solid #d9e6f0;
  width: 4px;
  height: 4px;
  background: #3e8ef0;
}

/* line 238, ../sass/screen.scss */
select::-ms-expand {
  display: none;
}

/* line 239, ../sass/screen.scss */
[class^="icon-"], [class*=" icon-"] {
  color: #3e8ef0;
}

/* line 242, ../sass/screen.scss */
body {
  background: #f4f9ff;
  color: #4a4a4a;
  font: normal 14px/30px "Microsoft Yahei";
  margin: 0;
}

/* line 249, ../sass/screen.scss */
.wrapper {
  width: 100%;
  height: auto;
  margin: 0 auto;
  overflow: hidden;
}

/* line 256, ../sass/screen.scss */
.wrapper-in {
  padding: 0 12px;
  height: 100%;
  margin: 0 auto;
  position: relative;
}

/* line 265, ../sass/screen.scss */
.searchline {
  margin: 25px auto 5px auto;
  overflow: hidden;
}
/* line 268, ../sass/screen.scss */
.searchline > * {
  float: left;
}
/* line 271, ../sass/screen.scss */
.searchline .searchplane {
  font-size: 16px;
  font-weight: 500;
}
/* line 273, ../sass/screen.scss */
.searchline .searchplane .inputout {
  display: inline;
  position: relative;
}
/* line 276, ../sass/screen.scss */
.searchline .searchplane .inputout input {
  width: 100px;
}
/* line 279, ../sass/screen.scss */
.searchline .searchplane .inputout i {
  position: absolute;
  right: 10px;
  line-height: 30px;
  font-size: 14px;
  cursor: pointer;
  margin-top: 2px;
}
/* line 289, ../sass/screen.scss */
.searchline .searchnone {
  margin-left: 95px;
  color: #666666;
  font-size: 12px;
}

/* line 295, ../sass/screen.scss */
.searchresult {
  margin: 0 5px;
}
/* line 297, ../sass/screen.scss */
.searchresult > * {
  float: left;
}
/* line 300, ../sass/screen.scss */
.searchresult .searchresult_scroll {
  width: 30px;
  height: 30px;
  color: #fff;
  background: #3e8ef0;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  margin: 0 10px;
  margin-top: 2px;
  cursor: pointer;
}
/* line 312, ../sass/screen.scss */
.searchresult .searchresult_textbox {
  overflow: hidden;
  padding: 2px;
  margin: 0;
}
/* line 316, ../sass/screen.scss */
.searchresult .searchresult_textbox li {
  float: left;
  background: #fff;
  -webkit-box-shadow: 0px 0px 5px rgba(200, 210, 230, 0.8);
  -moz-box-shadow: 0px 0px 5px rgba(200, 210, 230, 0.8);
  -ms-box-shadow: 0px 0px 5px rgba(200, 210, 230, 0.8);
  -o-box-shadow: 0px 0px 5px rgba(200, 210, 230, 0.8);
  box-shadow: 0px 0px 5px rgba(200, 210, 230, 0.8);
  cursor: pointer;
  margin: 0 5px;
  padding: 0 10px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
/* line 324, ../sass/screen.scss */
.searchresult .searchresult_textbox li:hover {
  background: #3e8ef0;
  color: #fff;
}
/* line 329, ../sass/screen.scss */
.searchresult .searchresult_textbox .active {
  background: #3e8ef0;
  color: #fff;
}

/* line 335, ../sass/screen.scss */
.searchlistline {
  font-size: 16px;
  margin: 10px 0;
}
/* line 338, ../sass/screen.scss */
.searchlistline > * {
  display: inline-block;
  margin-right: 15px;
}
/* line 342, ../sass/screen.scss */
.searchlistline .gamename, .searchlistline .gamename_type {
  width: 100px;
}
/* line 346, ../sass/screen.scss */
.searchlistline .memberaccount .inputout {
  display: inline;
}
/* line 351, ../sass/screen.scss */
.searchlistline .lotterynumber_search > * {
  display: inline-block;
  margin-right: 15px;
  vertical-align: middle;
}
/* line 358, ../sass/screen.scss */
.searchlistline .exportout {
  float: right;
}
/* line 360, ../sass/screen.scss */
.searchlistline .exportout > * {
  float: left;
}
/* line 363, ../sass/screen.scss */
.searchlistline .exportout i {
  margin-top: 1px;
}
/* line 367, ../sass/screen.scss */
.searchlistline .prepageout {
  float: right;
}
/* line 369, ../sass/screen.scss */
.searchlistline .prepageout > * {
  float: left;
}
/* line 372, ../sass/screen.scss */
.searchlistline .prepageout i {
  margin-top: 1px;
}

/* line 377, ../sass/screen.scss */
.searchbtn {
  width: 65px;
  height: 30px;
  color: #fff;
  background: #3e8ef0;
  line-height: 30px;
  text-align: center;
  cursor: pointer;
  vertical-align: middle;
  padding: 0 5px;
  font-size: 14px;
}
/* line 388, ../sass/screen.scss */
.searchbtn i {
  color: #fff;
  margin-right: 10px;
  position: relative;
  top: 1px;
}

/* line 395, ../sass/screen.scss */
.export {
  width: 105px;
  height: 30px;
  color: #fff;
  background: #26bd7b;
  line-height: 30px;
  text-align: center;
  cursor: pointer;
  vertical-align: middle;
  padding: 0 5px;
  font-size: 14px;
}
/* line 406, ../sass/screen.scss */
.export i {
  color: #fff;
  margin-right: 10px;
  position: relative;
  top: 1px;
}

/* line 413, ../sass/screen.scss */
.prepage {
  width: 105px;
  height: 30px;
  color: #fff;
  background: #3e8ef0;
  line-height: 30px;
  text-align: center;
  cursor: pointer;
  vertical-align: middle;
  padding: 0 5px;
  font-size: 14px;
}
/* line 424, ../sass/screen.scss */
.prepage i {
  color: #fff;
  margin-right: 10px;
  position: relative;
  top: 1px;
}

/* line 431, ../sass/screen.scss */
.realtimepage_table {
  margin: 10px 0;
  background: #fff;
  overflow: hidden;
  clear: both;
}
/* line 436, ../sass/screen.scss */
.realtimepage_table .searchpagebar {
  overflow: hidden;
  float: right;
  line-height: 45px;
  padding-right: 45px;
}
/* line 441, ../sass/screen.scss */
.realtimepage_table .searchpagebar > * {
  float: left;
}
/* line 444, ../sass/screen.scss */
.realtimepage_table .searchpagebar .turnpage {
  overflow: hidden;
}
/* line 446, ../sass/screen.scss */
.realtimepage_table .searchpagebar .turnpage > * {
  float: left;
  margin: 0 5px;
}
/* line 450, ../sass/screen.scss */
.realtimepage_table .searchpagebar .turnpage input {
  text-align: center;
  width: 35px;
  height: 20px;
}
/* line 455, ../sass/screen.scss */
.realtimepage_table .searchpagebar .turnpage .turnpagebtn {
  width: 25px;
  height: 20px;
  border: 1px solid #3e8ef0;
  line-height: 20px;
  margin-top: 13px;
  text-align: center;
  cursor: pointer;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
/* line 464, ../sass/screen.scss */
.realtimepage_table .searchpagebar .turnpage .turnpagebtn:hover {
  background: #3e8ef0;
}
/* line 466, ../sass/screen.scss */
.realtimepage_table .searchpagebar .turnpage .turnpagebtn:hover i {
  color: #fff;
}
/* line 471, ../sass/screen.scss */
.realtimepage_table .searchpagebar .turnpage .turnpageleft {
  margin-right: 30px;
}
/* line 474, ../sass/screen.scss */
.realtimepage_table .searchpagebar .turnpage .turnpageright {
  margin-left: 30px;
}
/* line 477, ../sass/screen.scss */
.realtimepage_table .searchpagebar .turnpage .turnpagetxt {
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  cursor: pointer;
}
/* line 480, ../sass/screen.scss */
.realtimepage_table .searchpagebar .turnpage .turnpagetxt:hover {
  color: #3e8ef0;
}
/* line 485, ../sass/screen.scss */
.realtimepage_table .searchpagebar .allpage {
  margin-right: 20px;
}
/* line 489, ../sass/screen.scss */
.realtimepage_table .searchpagebar .mouchline select {
  margin-left: 10px;
  padding-left: 10px;
  min-width: 55px;
  height: 22px;
  line-height: 20px;
  width: 50px;
  text-align: center;
  border: 1px solid #3c8ff3;
}

/* line 503, ../sass/screen.scss */
.tablestyle table {
  margin: 0 auto;
  border-collapse: separate;
  border-spacing: 0px !important;
  width: 100%;
}
/* line 508, ../sass/screen.scss */
.tablestyle table tr {
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
/* line 511, ../sass/screen.scss */
.tablestyle table tr:not(:first-child):hover {
  background: #efefef !important;
}
/* line 515, ../sass/screen.scss */
.tablestyle table tr:nth-child(odd) {
  background-color: #f7f7f7;
}
/* line 519, ../sass/screen.scss */
.tablestyle table tr:first-child td {
  color: #12396b;
  font-size: 16px;
  font-weight: 500;
}
/* line 524, ../sass/screen.scss */
.tablestyle table tr td {
  text-align: center;
  padding: 0 5px;
  vertical-align: middle;
  color: #666666;
  line-height: 44px;
}
/* line 532, ../sass/screen.scss */
.tablestyle table tr td label {
  cursor: pointer;
}
/* line 535, ../sass/screen.scss */
.tablestyle table tr td input {
  text-align: center;
}
/* line 538, ../sass/screen.scss */
.tablestyle table tr td .inputs {
  margin-left: 5px;
  margin-right: 25px;
  width: 40px;
}
/* line 544, ../sass/screen.scss */
.tablestyle table tr .red {
  color: #f68622;
}
/* line 547, ../sass/screen.scss */
.tablestyle table tr .green {
  color: #26bd7b;
}
/* line 550, ../sass/screen.scss */
.tablestyle table tr .bule {
  color: #3e8ef0;
}
/* line 553, ../sass/screen.scss */
.tablestyle table tr .tablelink {
  color: #3e8ef0;
  cursor: pointer;
}
/* line 556, ../sass/screen.scss */
.tablestyle table tr .tablelink:hover {
  color: #3576c5;
}
/* line 560, ../sass/screen.scss */
.tablestyle table tr a {
  color: #3e8ef0;
}
/* line 562, ../sass/screen.scss */
.tablestyle table tr a:hover {
  color: #3576c5;
}

/* line 569, ../sass/screen.scss */
.bottomnote {
  font-size: 16px;
  font-weight: 500;
  margin-top: 30px;
}

/*datepicker*/
/* line 576, ../sass/screen.scss */
.datepickerout .datepicker {
  width: 280px;
}
/* line 578, ../sass/screen.scss */
.datepickerout .datepicker:focus {
  outline-offset: 0px;
  outline: none;
}
/* line 582, ../sass/screen.scss */
.datepickerout .datepicker i {
  font-size: 18px;
}
/* line 586, ../sass/screen.scss */
.datepickerout > i {
  font-size: 20px;
  right: 5px;
  top: 0;
}

/* line 593, ../sass/screen.scss */
.datepickerout_active input {
  background: #d2e9fb;
  border: 1px solid #d2e9fb;
}
/* line 597, ../sass/screen.scss */
.datepickerout_active .datebox {
  opacity: 1;
  height: 300px;
  visibility: visible;
}

/* line 603, ../sass/screen.scss */
.datebox {
  position: absolute;
  -webkit-box-shadow: 0px 0px 5px rgba(200, 210, 230, 0.8);
  -moz-box-shadow: 0px 0px 5px rgba(200, 210, 230, 0.8);
  -ms-box-shadow: 0px 0px 5px rgba(200, 210, 230, 0.8);
  -o-box-shadow: 0px 0px 5px rgba(200, 210, 230, 0.8);
  box-shadow: 0px 0px 5px rgba(200, 210, 230, 0.8);
  background: #fff;
  right: 0;
  width: 480px;
  height: 300px;
  z-index: 11;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  opacity: 0;
  height: 0;
  visibility: hidden;
}
/* line 615, ../sass/screen.scss */
.datebox .month_one {
  padding-right: 14px;
}
/* line 618, ../sass/screen.scss */
.datebox .month {
  width: calc(50% - 7px);
  float: left;
  position: relative;
  height: 100%;
}
/* line 623, ../sass/screen.scss */
.datebox .month > .month_year, .datebox .month .daybox {
  padding: 0 5px;
}
/* line 626, ../sass/screen.scss */
.datebox .month .month_year {
  text-align: center;
  height: 30px;
  margin-top: 5px;
}
/* line 630, ../sass/screen.scss */
.datebox .month .month_year i {
  font-size: 30px;
  cursor: pointer;
}
/* line 634, ../sass/screen.scss */
.datebox .month .month_year i.icon-chevron-left {
  float: left;
}
/* line 637, ../sass/screen.scss */
.datebox .month .month_year i.icon-chevron-right {
  float: right;
}
/* line 642, ../sass/screen.scss */
.datebox .month .daybox .week {
  color: #999999;
}
/* line 647, ../sass/screen.scss */
.datebox .month .daybox .day li:not(.block) {
  cursor: pointer;
}
/* line 649, ../sass/screen.scss */
.datebox .month .daybox .day li:not(.block):hover {
  background: #3e8ef0;
  color: #fff;
}
/* line 655, ../sass/screen.scss */
.datebox .month .daybox .day .active {
  background: #3e8ef0;
  color: #fff;
}
/* line 660, ../sass/screen.scss */
.datebox .month .daybox ul {
  overflow: hidden;
  color: #262626;
}
/* line 663, ../sass/screen.scss */
.datebox .month .daybox ul li {
  float: left;
  width: calc(100% / 7);
  height: 30px;
  text-align: center;
  font-size: 12px;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
/* line 673, ../sass/screen.scss */
.datebox .month .time {
  background: #f7f7f7;
  position: absolute;
  bottom: 10px;
  width: calc(100% - 15px);
  line-height: 30px;
  vertical-align: middle;
  padding-left: 15px;
}
/* line 681, ../sass/screen.scss */
.datebox .month .time .timepickinput {
  display: inline;
}
/* line 684, ../sass/screen.scss */
.datebox .month .time input {
  width: 20px;
  height: 20px;
  padding: 0 5px;
  margin-left: 5px;
  background: #fff;
  text-align: center;
  vertical-align: 2px;
}
/* line 693, ../sass/screen.scss */
.datebox .month .time input:focus ~ .timepickbox {
  opacity: 1;
  visibility: visible;
}
/* line 699, ../sass/screen.scss */
.datebox .month .time .button {
  width: 15px;
  height: 22px;
  position: absolute;
  top: 4px;
  left: 190px;
}
/* line 705, ../sass/screen.scss */
.datebox .month .time .button > div {
  width: 15px;
  height: 9px;
  background: #d2e9fb;
  cursor: pointer;
  position: absolute;
  overflow: hidden;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
/* line 713, ../sass/screen.scss */
.datebox .month .time .button > div:active {
  background: #3e8ef0;
}
/* line 715, ../sass/screen.scss */
.datebox .month .time .button > div:active i {
  color: #fff;
}
/* line 719, ../sass/screen.scss */
.datebox .month .time .button > div i {
  top: -3px;
  position: absolute;
  font-size: 15px;
}
/* line 725, ../sass/screen.scss */
.datebox .month .time .button .up {
  top: 0;
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
  transform: rotate(-180deg);
}
/* line 729, ../sass/screen.scss */
.datebox .month .time .button .down {
  bottom: 0;
}
/* line 733, ../sass/screen.scss */
.datebox .month .time .timepickbox {
  position: absolute;
  overflow: hidden;
  width: 200px;
  -webkit-box-shadow: 0px 0px 5px rgba(200, 210, 230, 0.8);
  -moz-box-shadow: 0px 0px 5px rgba(200, 210, 230, 0.8);
  -ms-box-shadow: 0px 0px 5px rgba(200, 210, 230, 0.8);
  -o-box-shadow: 0px 0px 5px rgba(200, 210, 230, 0.8);
  box-shadow: 0px 0px 5px rgba(200, 210, 230, 0.8);
  background: #fff;
  padding: 7px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
/* line 743, ../sass/screen.scss */
.datebox .month .time .timepickbox li {
  float: left;
  cursor: pointer;
  width: calc(100% / 6);
  text-align: center;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
/* line 749, ../sass/screen.scss */
.datebox .month .time .timepickbox li:hover {
  background: #3e8ef0;
  color: #fff;
}
/* line 754, ../sass/screen.scss */
.datebox .month .time .timepickbox .active {
  background: #3e8ef0;
  color: #fff;
}

/* line 762, ../sass/screen.scss */
.contentboxout {
  background: #fff;
  position: relative;
  top: 10px;
}

/*alertbox*/
/* line 768, ../sass/screen.scss */
.alertboxout {
  min-height: 530px;
}
/* line 770, ../sass/screen.scss */
.alertboxout .alertbox {
  width: 650px;
  height: 260px;
  margin: 0 auto;
  overflow: hidden;
  padding-top: 110px;
}
/* line 776, ../sass/screen.scss */
.alertboxout .alertbox > div {
  float: left;
}
/* line 779, ../sass/screen.scss */
.alertboxout .alertbox .alertimg {
  width: 235px;
}
/* line 781, ../sass/screen.scss */
.alertboxout .alertbox .alertimg img {
  width: 100%;
  vertical-align: middle;
}
/* line 786, ../sass/screen.scss */
.alertboxout .alertbox .alerttxt {
  margin-top: 130px;
  font-size: 18px;
  color: #9b9a9a;
}
/* line 792, ../sass/screen.scss */
.alertboxout .alertbox .alertonlytxt {
  width: 100%;
  text-align: center;
}
/* line 797, ../sass/screen.scss */
.alertboxout .alertboxbtn {
  width: 215px;
  height: 50px;
  color: #fff;
  text-align: center;
  margin: 0 auto;
  background: #3e8ef0;
  font-size: 18px;
  line-height: 50px;
  cursor: pointer;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
/* line 808, ../sass/screen.scss */
.alertboxout .alertboxbtn:hover {
  background: #59a4ff;
}

/* line 815, ../sass/screen.scss */
.alert_loading .alertbox > div {
  float: none;
}
/* line 818, ../sass/screen.scss */
.alert_loading .alertbox .alertimg {
  width: 80px;
  margin: 0 auto;
  margin-top: 100px;
}
/* line 823, ../sass/screen.scss */
.alert_loading .alertbox .alerttxt {
  margin-top: 0px;
  text-align: center;
}

/*reportpage*/
/* line 834, ../sass/screen.scss */
#reportpage .searchline {
  overflow: initial;
  height: 30px;
}

/*moreplantbtn*/
/* line 843, ../sass/screen.scss */
.moreplantbtn_out {
  position: relative;
}
/* line 845, ../sass/screen.scss */
.moreplantbtn_out .moreplantbtn {
  background: #3e8ef0;
  color: #fff;
  line-height: 30px;
  padding: 0 10px;
  cursor: pointer;
}
/* line 852, ../sass/screen.scss */
.moreplantbtn_out .plantbox_active {
  opacity: 1 !important;
  visibility: visible !important;
}
/* line 856, ../sass/screen.scss */
.moreplantbtn_out .plantbox {
  position: absolute;
  top: 40px;
  overflow: hidden;
  width: 560px;
  -webkit-box-shadow: 0px 0px 5px rgba(200, 210, 230, 0.8);
  -moz-box-shadow: 0px 0px 5px rgba(200, 210, 230, 0.8);
  -ms-box-shadow: 0px 0px 5px rgba(200, 210, 230, 0.8);
  -o-box-shadow: 0px 0px 5px rgba(200, 210, 230, 0.8);
  box-shadow: 0px 0px 5px rgba(200, 210, 230, 0.8);
  z-index: 10;
  background: #fff;
  padding: 20px;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  opacity: 0;
  visibility: hidden;
}
/* line 868, ../sass/screen.scss */
.moreplantbtn_out .plantbox .plantctrl {
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
  font-size: 12px;
  margin: 0 -5px 12px -5px;
}
/* line 873, ../sass/screen.scss */
.moreplantbtn_out .plantbox .plantctrl li {
  text-align: center;
  cursor: pointer;
  margin: 0 5px 5px 5px;
  padding: 0 5px;
  -webkit-flex-shrink: 1;
  -moz-flex-shrink: 1;
  -ms-flex-shrink: 1;
  -o-flex-shrink: 1;
  flex-shrink: 1;
  -webkit-flex-grow: 1;
  -moz-flex-grow: 1;
  -ms-flex-grow: 1;
  -o-flex-grow: 1;
  flex-grow: 1;
  flex-grow: 1;
  -webkit-flex-grow: 1;
  max-width: 100px;
}
/* line 884, ../sass/screen.scss */
.moreplantbtn_out .plantbox .plantctrl .lottery_class {
  color: #3e8ef0;
  border: 1px solid #3e8ef0;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
/* line 888, ../sass/screen.scss */
.moreplantbtn_out .plantbox .plantctrl .lottery_class:hover {
  background: #3e8ef0;
  color: #fff;
}
/* line 893, ../sass/screen.scss */
.moreplantbtn_out .plantbox .plantctrl .active {
  background: #3e8ef0;
  color: #fff;
}
/* line 897, ../sass/screen.scss */
.moreplantbtn_out .plantbox .plantctrl .ctrlbtn {
  -webkit-flex-grow: 1;
  -moz-flex-grow: 1;
  -ms-flex-grow: 1;
  -o-flex-grow: 1;
  flex-grow: 1;
  max-width: 100px;
}
/* line 900, ../sass/screen.scss */
.moreplantbtn_out .plantbox .plantctrl .ctrlbtn i {
  color: #fff;
  font-size: 18px;
  vertical-align: -3px;
  margin-right: 5px;
}
/* line 907, ../sass/screen.scss */
.moreplantbtn_out .plantbox .plantctrl .lottery_delete {
  background: #26bd7b;
  color: #fff;
}
/* line 911, ../sass/screen.scss */
.moreplantbtn_out .plantbox .plantctrl .lottery_chose {
  background: #f09e3e;
  color: #fff;
}
/* line 914, ../sass/screen.scss */
.moreplantbtn_out .plantbox .plantctrl .lottery_chose i {
  font-size: 22px;
  vertical-align: -5px;
}
/* line 920, ../sass/screen.scss */
.moreplantbtn_out .plantbox .table_plant {
  border: 1px solid #d2d2d2;
}
/* line 923, ../sass/screen.scss */
.moreplantbtn_out .plantbox .table_plant tr td {
  line-height: 30px;
  font-size: 15px;
  border-left: 1px solid #d2d2d2;
  color: #323232;
}
/* line 928, ../sass/screen.scss */
.moreplantbtn_out .plantbox .table_plant tr td:first-child {
  border-left: 0px solid #d2d2d2;
  text-align: left;
  padding-left: 10px;
  cursor: pointer;
}
/* line 933, ../sass/screen.scss */
.moreplantbtn_out .plantbox .table_plant tr td:first-child i {
  margin-right: 5px;
}
/* line 937, ../sass/screen.scss */
.moreplantbtn_out .plantbox .table_plant tr td i {
  font-size: 20px;
  color: #afafaf;
  vertical-align: middle;
  vertical-align: -3px;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
/* line 944, ../sass/screen.scss */
.moreplantbtn_out .plantbox .table_plant tr td .active {
  color: #3e8ef0;
}
/* line 947, ../sass/screen.scss */
.moreplantbtn_out .plantbox .table_plant tr td .icon-check_circle {
  cursor: pointer;
}

/*newseditpage*/
/* line 958, ../sass/screen.scss */
#newseditpage .searchlistline {
  margin: 27px 0 17px 0;
}
